<!DOCTYPE html>
<html lang="en"
      dir="ltr">

@model AsadasFront.API.Models.Usuario

@{
    Layout = "";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ERP Punto Fresco</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots"
          content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="~/assets/vendor/perfect-scrollbar.css"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="~/assets/css/app.css"
          rel="stylesheet">
    <link type="text/css"
          href="~/assets/css/app.rtl.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="~/assets/css/vendor-material-icons.css"
          rel="stylesheet">
    <link type="text/css"
          href="~/assets/css/vendor-material-icons.rtl.css"
          rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css"
          href="~/assets/css/vendor-fontawesome-free.css"
          rel="stylesheet">
    <link type="text/css"
          href="~/assets/css/vendor-fontawesome-free.rtl.css"
          rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-133433427-1');
    </script>

</head>

<body class="layout-login-centered-boxed">

    <div class="layout-login-centered-boxed__form card">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-2 navbar-light">
            <a href="~/Usuarios/Login" class="navbar-brand" style="min-width: 0">
            </a>
        </div>
        <hr />
        <h4 class="m-6">Actualizar contraseña </h4>
        <br />
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="text-label">Identificación</label>
                <div class="input-group input-group-merge">
                    <input asp-for="Cedula" class="form-control" placeholder="X-XXXX-XXXX" />
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-id-card"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="text-label">Contraseña</label>
                <div class="input-group input-group-merge">
                    <input asp-for="Password" class="form-control" placeholder="Ingrese su contraseña" />
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Actualizar" class="btn btn-primary mb-2" />
                <br />
            </div>
        </form>
    </div>

    <!-- jQuery -->
    <script src="~/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/vendor/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="~/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="~/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="~/assets/vendor/material-design-kit.js"></script>

    <!-- App -->
    <script src="~/assets/js/toggle-check-all.js"></script>
    <script src="~/assets/js/check-selected-row.js"></script>
    <script src="~/assets/js/dropdown.js"></script>
    <script src="~/assets/js/sidebar-mini.js"></script>
    <script src="~/assets/js/app.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="~/assets/js/app-settings.js"></script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>

</html>