@model AsadasFront.API.Models.Marca

@{
    ViewData["Title"] = "Create";
}

<!-- Breadcrumb -->
<div class="container-fluid  page__heading-container">
    <div class="page__heading">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <i class="material-icons icon-20pt">home</i>
                <li class="breadcrumb-item active"> Marcas </li>
                <li class="breadcrumb-item active"> Agregar </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Container blanco -->
<div class="container-fluid page__container">
    <div class="card card-form">
        <div class="row no-gutters">
            <!-- Requisitos -->
            <div class="col-lg-4 card-body">
                <p><strong class="headings-color">Requisitos</strong></p>
                <p class="text-muted"> De 4 a 10 letras: <span class="badge badge-pill badge-success"> ✔ </span> </p>
            </div>
            <!-- Descripción, Cancelar y Agregar -->
            <div class="col-lg-8 card-form__body card-body">
                <form asp-action="Create" novalidate>
                    <div class="was-validated">
                        <div class="form-row">
                            <div class="col-12 col-md-6 mb-3">
                                <label>Nueva Marca</label>
                                <input asp-for="Descripcion" class="form-control" maxlength="10" onkeypress="return /[a-z\s]/i.test(event.key)" pattern=".{4,10}" placeholder="Ej.: Visa" required type="text">
                                <div class="invalid-feedback">No cumple con los requisitos</div>
                                <div class="valid-feedback">Formato válido</div>
                            </div>
                        </div>
                    </div>
                    <a asp-action="Index" class="btn btn-light"> Cancelar </a>
                    <button class="btn btn-success" type="submit"> Agregar </button>
                </form>
            </div>
        </div>
    </div>
</div>