@model IEnumerable<AsadasFront.API.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<!-- DataTable -->
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>

    <script>$(document).ready(function () {
            $('#table').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": -1 }
                ],
                "info": false,
                "searching": false,
                "paging": false
            });
        });</script>
}
<!-- Breadcrumb, Encabezado y Añadir -->
<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
                    <li class="breadcrumb-item active">Marcas</li>
                </ol>
            </nav>
            <h1 class="m-0">Lista</h1>
        </div>
        <a class="btn btn-success ml-3" asp-action="Create"> Agregar </a>
    </div>
</div>
<!-- Container blanco -->
<div class="container-fluid page__container">
    <div class="card">
        <div class="table-responsive">
            <!-- Tabla -->
            <table class="table mb-0 thead-border-top-0 table-striped table-hover" id="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><div class="badge badge-soft-dark"> @Html.DisplayFor(modelItem => item.IdMarca)</div></td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.IdMarca">Editar</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdMarca">Eliminar</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>